<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.epidemicsurveillance.mapper.EpidemicDataTrendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.epidemicsurveillance.entity.EpidemicDataTrend">
        <id column="id" property="id" />
        <result column="area_name" property="areaName" />
        <result column="existing_diagnosis" property="existingDiagnosis" />
        <result column="asymptomatic" property="asymptomatic" />
        <result column="suspected" property="suspected" />
        <result column="severe" property="severe" />
        <result column="total_diagnosis" property="totalDiagnosis" />
        <result column="overseas_input" property="overseasInput" />
        <result column="total_cure" property="totalCure" />
        <result column="total_death" property="totalDeath" />
        <result column="today" property="today" />
        <result column="heal_rate" property="healRate"/>
        <result column="dead_rate" property="deadRate"/>
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_name, existing_diagnosis,heal_rate,dead_rate, asymptomatic, suspected, severe, total_diagnosis, overseas_input, total_cure, total_death, gmt_create, gmt_modified,today
    </sql>

    <select id="getTodayEpidemicDataTrend" resultType="com.example.epidemicsurveillance.entity.EpidemicDataTrend">
        select <include refid="Base_Column_List"/>
        from epidemic_data_trend where area_name='中国' order by gmt_create DESC
        limit 1
    </select>

    <select id="getLatelyAddConfirmEpidemicData" resultType="com.example.epidemicsurveillance.entity.EpidemicDataTrend">
        select <include refid="Base_Column_List"/>
        from epidemic_data_trend where area_name='中国' order by gmt_create DESC
        limit 15
    </select>


    <select id="getWorldTodayEpidemicAddData" resultType="com.example.epidemicsurveillance.entity.EpidemicDataTrend">
        select <include refid="Base_Column_List"/>
        from epidemic_data_trend where area_name='全球' order by gmt_create DESC
        limit 1
    </select>

    <select id="getChinaAndWorldAddConfirmTrend" resultType="com.example.epidemicsurveillance.entity.EpidemicDataTrend">
        select <include refid="Base_Column_List"/> from epidemic_data_trend
        order by today limit 30
    </select>

</mapper>
